@import "tailwindcss";



:root{
    --background-color:rgb(26, 10, 49);
}

.humberger{
    text-align: end;
    padding-top: ;
}

.bg-image {
    background-image: url(./B13-A02-TechWave/assets/hero-bg.png);
    background-position: center;
    background-size: cover;
    
}






































/* responsive code  */
@media screen and (max-width:500px) {
    .menu-container span{
        display: none;
    }
}