@import "tailwindcss";



:root{
    --background-color:rgb(26, 10, 49);
}

.humberger{
    text-align: end;
    padding-top: ;
}

.bg-image {
    background-image: url(./B13-A02-TechWave/assets/hero-bg.png);
    background-position: center;
    background-size: cover;
    
}





/* Aboout section start */

#about {
    background-color: var(--background-color);
    color: white;
    padding: 50px 0;
}

#about>h1 text{
    color: var(--text-green);
    color: green;

}





/* choose section started */

.bg-\(--bg-chooses\) {
    background-color: var(--bg-chooses);
    color: rgb(255, 255, 255);
    background-color: rgb(26, 10, 49);
}

#episodes{
    background-color: var(--background-color);
    color: white;
}


.footer-img {
    background-image: url(./B13-A02-TechWave/assets/footer-bg.png);
    background-position: center;
    background-size: cover;
}



























/* responsive code  */
@media screen and (max-width:500px) {
    .menu-container span{
        display: none;
    }
}